In [1]:
import pandas as pd

# Import the Dataframes from the raw HTML

In [2]:
filename = "./data/tdf_prizes.html"
df = pd.read_html(io=filename, header=0, index_col=0)[0]

# Remove the spacing columns in the table
df = df.drop(
    columns=[
        "Unnamed: 2",
        "Unnamed: 4",
        "Unnamed: 6",
        "Unnamed: 8",
        "Unnamed: 9",
        "Unnamed: 11",
    ]
)

# Drop the spacing row at the start
df = df.drop(df.index[0])

# Drop the missing data
df = df.drop(["1915 - 1918: No Tours held", "1940 - 1946: No Tours held"])

In [3]:
df = df.rename(
    columns={
        "First prize in currency of era": "first_prize",
        "Total prize pool in currency of era": "total",
        "First prize in 2013 euros": "first_prize_adjusted_euro",
        "Total prize pool in 2013 euros": "total_adjusted_euro",
        "First prize in 2013 dollars": "first_prize_adjusted_usd",
        "Total prize pool in 2013 dollars": "total_adjusted_usd",
    }
)

In [4]:
# Convert columns to floats, the index to a date, and use resample to fill in the missing years
df = df.astype("float")
df.index = pd.to_datetime(df.index)
df = df.resample("Y").max()

In [5]:
df.head()

,first_prize,total,first_prize_adjusted_euro,total_adjusted_euro,first_prize_adjusted_usd,total_adjusted_usd
1903-12-31,3000.0,20000.0,11828.0,78851.0,15471.0,103138.0
1904-12-31,5000.0,21000.0,19993.0,83969.0,26151.0,109833.0
1905-12-31,4000.0,25000.0,16010.0,100063.0,20941.0,130884.0
1906-12-31,5000.0,25000.0,19756.0,98779.0,25841.0,129204.0
1907-12-31,4000.0,25000.0,15586.0,97415.0,20387.0,127420.0

In [6]:
df.tail()

,first_prize,total,first_prize_adjusted_euro,total_adjusted_euro,first_prize_adjusted_usd,total_adjusted_usd
2009-12-31,450000.0,3200000.0,479760.0,3411625.0,627532.0,4462450.0
2010-12-31,450000.0,3200000.0,472556.0,3360399.0,618110.0,4395446.0
2011-12-31,450000.0,3412546.0,462951.0,3510762.0,605546.0,4592122.0
2012-12-31,450000.0,3414246.0,453890.0,3509384.0,593694.0,4590320.0
2013-12-31,450000.0,2023300.0,450001.0,2023304.0,588607.0,2646508.0

# Save as JSON

In [7]:
df.to_json("./data/tdf_prizes_dataframe.json", orient="table")