In [1]:
!pip install nb-black

Requirement already satisfied: nb-black in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (1.0.7)
Requirement already satisfied: ipython in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from nb-black) (7.30.1)
Requirement already satisfied: black>='19.3' in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from nb-black) (21.12b0)
Requirement already satisfied: mypy-extensions>=0.4.3 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (0.4.3)
Requirement already satisfied: click>=7.1.2 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (8.0.3)
Requirement already satisfied: tomli<2.0.0,>=0.2.6 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (1.2.3)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (4.0.1)
Requirement already satisfied: platformdirs>=2 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (2.4.1)
Requirement already satisfied: pathspec<1,>=0.9.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (0.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (3.0.24)
Requirement already satisfied: decorator in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (5.1.0)
Requirement already satisfied: pickleshare in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (4.8.0)
Requirement already satisfied: matplotlib-inline in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.1.3)
Requirement already satisfied: setuptools>=18.5 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (58.1.0)
Requirement already satisfied: jedi>=0.16 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.18.1)
Requirement already satisfied: pygments in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (5.1.1)
Requirement already satisfied: backcall in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from jedi>=0.16->ipython->nb-black) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from pexpect>4.3->ipython->nb-black) (0.7.0)
Requirement already satisfied: wcwidth in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->nb-black) (0.2.5)
WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the '/home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
%load_ext lab_black

In [3]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [4]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

# Data

In [5]:
df = pd.read_csv("./match_map_stats.csv")

df["round_start_time"] = pd.to_datetime(df["round_start_time"])
df["round_end_time"] = pd.to_datetime(df["round_end_time"])

df.head()

,round_start_time,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,winning_team_final_map_score,losing_team_final_map_score,control_round_name,attacker,defender,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score
0,2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,3,2,NaN,San Francisco Shock,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0
1,2018-01-11 00:22:05,2018-01-11 00:27:59,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,3,2,NaN,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2
2,2018-01-11 00:34:39,2018-01-11 00:38:29,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,4,3,NaN,San Francisco Shock,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0
3,2018-01-11 00:40:27,2018-01-11 00:44:41,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,4,3,NaN,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2
4,2018-01-11 00:46:09,2018-01-11 00:49:48,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,4,3,NaN,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2

In [6]:
# Add the match loser
df["match_loser"] = np.where(
    df["team_one_name"] == df["match_winner"], df["team_two_name"], df["team_one_name"]
)

# Add year (there is a single match with NULL round_start_time,
# but all matches have non_NULL round_end_time so we use that.
df["year"] = df["round_end_time"].dt.year

# Convert year to season
df["season"] = df["year"] - 2017

df.head()

,round_start_time,round_end_time,stage,match_id,game_number,match_winner,map_winner,map_loser,map_name,map_round,winning_team_final_map_score,losing_team_final_map_score,control_round_name,attacker,defender,team_one_name,team_two_name,attacker_payload_distance,defender_payload_distance,attacker_time_banked,defender_time_banked,attacker_control_perecent,defender_control_perecent,attacker_round_end_score,defender_round_end_score,match_loser,year,season
0,2018-01-11 00:12:07,2018-01-11 00:20:07,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,1,3,2,NaN,San Francisco Shock,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,75.615051,0.000000,0.000000,240.000000,NaN,NaN,2,0,San Francisco Shock,2018,1
1,2018-01-11 00:22:05,2018-01-11 00:27:59,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Dorado,2,3,2,NaN,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,75.649597,75.615051,125.750572,0.000000,NaN,NaN,3,2,San Francisco Shock,2018,1
2,2018-01-11 00:34:39,2018-01-11 00:38:29,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,1,4,3,NaN,San Francisco Shock,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,250.492004,240.000000,NaN,NaN,2,0,San Francisco Shock,2018,1
3,2018-01-11 00:40:27,2018-01-11 00:44:41,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,2,4,3,NaN,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,225.789032,250.492004,NaN,NaN,2,2,San Francisco Shock,2018,1
4,2018-01-11 00:46:09,2018-01-11 00:49:48,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,3,4,3,NaN,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,0.000000,0.000000,36.396057,250.492004,NaN,NaN,4,2,San Francisco Shock,2018,1

In [7]:
game_df = (
    df.groupby(
        by=[
            "year",
            "season",
            "stage",
            "match_id",
            "game_number",
            "match_winner",
            "match_loser",
            "map_winner",
            "map_loser",
            "map_name",
            "winning_team_final_map_score",
            "losing_team_final_map_score",
        ],
        as_index=False,
    )
    .agg(
        game_start_time=("round_start_time", "min"),
        game_end_time=("round_end_time", "max"),
    )
    .sort_values(["game_start_time"])
)


game_df["match_winner_won_map"] = game_df["match_winner"] == game_df["map_winner"]
game_df["match_loser_won_map"] = game_df["match_loser"] == game_df["map_winner"]

game_df.head()

,year,season,stage,match_id,game_number,match_winner,match_loser,map_winner,map_loser,map_name,winning_team_final_map_score,losing_team_final_map_score,game_start_time,game_end_time,match_winner_won_map,match_loser_won_map
0,2018,1,Overwatch League - Stage 1,10223,1,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,Dorado,3,2,2018-01-11 00:12:07,2018-01-11 00:27:59,True,False
1,2018,1,Overwatch League - Stage 1,10223,2,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,Temple of Anubis,4,3,2018-01-11 00:34:39,2018-01-11 00:56:55,True,False
2,2018,1,Overwatch League - Stage 1,10223,3,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,Ilios,2,1,2018-01-11 01:11:32,2018-01-11 01:25:08,True,False
3,2018,1,Overwatch League - Stage 1,10223,4,Los Angeles Valiant,San Francisco Shock,Los Angeles Valiant,San Francisco Shock,Numbani,2,1,2018-01-11 01:32:26,2018-01-11 01:45:17,True,False
4,2018,1,Overwatch League - Stage 1,10224,1,Los Angeles Gladiators,Shanghai Dragons,Los Angeles Gladiators,Shanghai Dragons,Dorado,1,0,2018-01-11 02:08:49,2018-01-11 02:15:59,True,False

In [8]:
match_df = game_df.groupby(
    by=[
        "year",
        "season",
        "stage",
        "match_id",
        "match_winner",
        "match_loser",
    ],
    as_index=False,
).agg(
    match_start_time=("game_start_time", "min"),
    match_end_time=("game_end_time", "max"),
    match_winner_maps_won=("match_winner_won_map", "sum"),
    match_loser_maps_won=("match_loser_won_map", "sum"),
)[  # Reorder output columns
    [
        "year",
        "season",
        "stage",
        "match_id",
        "match_start_time",
        "match_end_time",
        "match_winner",
        "match_loser",
        "match_winner_maps_won",
        "match_loser_maps_won",
    ]
]

match_df["match_winner_map_differential"] = (
    match_df["match_winner_maps_won"] - match_df["match_loser_maps_won"]
)
match_df["match_loser_map_differential"] = (
    match_df["match_loser_maps_won"] - match_df["match_winner_maps_won"]
)

match_df.head()

,year,season,stage,match_id,match_start_time,match_end_time,match_winner,match_loser,match_winner_maps_won,match_loser_maps_won,match_winner_map_differential,match_loser_map_differential
0,2018,1,Overwatch League - Stage 1,10223,2018-01-11 00:12:07,2018-01-11 01:45:17,Los Angeles Valiant,San Francisco Shock,4,0,4,-4
1,2018,1,Overwatch League - Stage 1,10224,2018-01-11 02:08:49,2018-01-11 03:19:57,Los Angeles Gladiators,Shanghai Dragons,4,0,4,-4
2,2018,1,Overwatch League - Stage 1,10225,2018-01-11 03:46:53,2018-01-11 05:35:44,Seoul Dynasty,Dallas Fuel,2,1,1,-1
3,2018,1,Overwatch League - Stage 1,10226,2018-01-11 22:10:19,2018-01-11 23:30:02,London Spitfire,Florida Mayhem,3,1,2,-2
4,2018,1,Overwatch League - Stage 1,10227,2018-01-11 23:52:57,2018-01-12 01:34:19,Philadelphia Fusion,Houston Outlaws,3,2,1,-1

In [9]:
match_df.to_json("./match_level_data.json", orient="table")

# Standings

There is no good way to get the standings for seasons 3 or 4 from the data because they do not set unique values for `stage`. One option would be to use the dates of the various tournaments. But for now I read my already scraped and cleaned data from Wikipedia.

In [10]:
standings_df = pd.read_json("./owl_standings.json", orient="table").drop(
    columns=["index"]
)

standings_df

,season,region,standing,team,match_record,map_record,map_differential
0,1,combined,1,New York Excelsior,34-6,126-4-43,83
1,1,combined,2,Los Angeles Valiant,27-13,100-7-64,36
2,1,combined,3,Boston Uprising,26-14,99-3-71,28
3,1,combined,4,Los Angeles Gladiators,25-15,96-3-72,24
4,1,combined,5,London Spitfire,24-16,102-3-69,33
5,1,combined,6,Philadelphia Fusion,24-16,93-2-80,13
6,1,combined,7,Houston Outlaws,22-18,94-2-77,17
7,1,combined,8,Seoul Dynasty,22-18,91-3-78,13
8,1,combined,9,San Francisco Shock,17-23,77-5-84,-7
9,1,combined,10,Dallas Fuel,12-28,58-7-100,-42
10,1,combined,11,Florida Mayhem,7-33,42-5-120,-78
11,1,combined,12,Shanghai Dragons,0-40,21-2-141,-120
12,2,combined,1,Vancouver Titans,25-3,89-0-28,61
13,2,combined,2,San Francisco Shock,23-5,92-0-26,66
14,2,combined,3,New York Excelsior,22-6,78-3-38,40
15,2,combined,4,Hangzhou Spark,18-10,64-4-52,12
16,2,combined,5,Los Angeles Gladiators,17-11,67-3-48,19
17,2,combined,6,Atlanta Reign,16-12,69-1-50,19
18,2,combined,7,London Spitfire,16-12,58-6-52,6
19,2,combined,8,Seoul Dynasty,15-13,64-3-50,14
20,2,combined,9,Guangzhou Charge,15-13,61-1-57,4
21,2,combined,10,Philadelphia Fusion,15-13,57-3-60,-3
22,2,combined,11,Shanghai Dragons,13-15,51-3-61,-10
23,2,combined,12,Chengdu Hunters,13-15,55-1-66,-11
24,2,combined,13,Los Angeles Valiant,12-16,56-4-61,-5
25,2,combined,14,Paris Eternal,11-17,46-3-67,-21
26,2,combined,15,Dallas Fuel,10-18,43-3-70,-27
27,2,combined,16,Houston Outlaws,9-19,47-3-69,-22
28,2,combined,17,Toronto Defiant,8-20,39-4-72,-33
29,2,combined,18,Washington Justice,8-20,39-6-72,-33
30,2,combined,19,Boston Uprising,8-20,41-2-78,-37
31,2,combined,20,Florida Mayhem,6-22,36-5-75,-39
32,3,north_america,1,Philadelphia Fusion,24-2,59-19,40
33,3,north_america,2,San Francisco Shock,25-3,56-17,39
34,3,north_america,3,Paris Eternal,19-6,50-31,19
35,3,north_america,4,Florida Mayhem,17-7,48-30,18
36,3,north_america,5,Los Angeles Valiant,12-10,41-41,0
37,3,north_america,6,Los Angeles Gladiators,11-10,43-39,4
38,3,north_america,7,Atlanta Reign,10-11,43-35,8
39,3,north_america,8,Dallas Fuel,9-12,35-44,-9
40,3,north_america,9,Toronto Defiant,8-14,32-48,-16
41,3,north_america,10,Houston Outlaws,6-15,32-50,-18
42,3,north_america,11,Vancouver Titans,6-15,23-48,-25
43,3,north_america,12,Washington Justice,4-17,21-54,-33
44,3,north_america,13,Boston Uprising,2-19,14-61,-47
45,3,apac,1,Shanghai Dragons,27-2,59-15,44
46,3,apac,2,Guangzhou Charge,18-7,44-39,5
47,3,apac,3,New York Excelsior,16-8,50-30,20
48,3,apac,4,Hangzhou Spark,12-11,36-40,-4
49,3,apac,5,Seoul Dynasty,12-12,33-40,-7
50,3,apac,6,Chengdu Hunters,8-14,33-47,-14
51,3,apac,7,London Spitfire,6-15,27-51,-24
52,4,north_america,1,Dallas Fuel,11-5,40-26,14
53,4,north_america,2,Los Angeles Gladiators,11-5,41-21,20
54,4,north_america,3,Atlanta Reign,11-5,41-21,20
55,4,north_america,4,San Francisco Shock,12-4,43-24,19
56,4,north_america,5,Houston Outlaws,11-5,34-24,10
57,4,north_america,6,Washington Justice,9-7,29-26,3
58,4,north_america,7,Toronto Defiant,9-7,31-31,0
59,4,north_america,8,Paris Eternal,8-8,32-32,0
60,4,north_america,9,Boston Uprising,7-9,27-31,-4
61,4,north_america,10,Florida Mayhem,5-11,26-38,-12
62,4,north_america,11,London Spitfire,1-15,12-47,-35
63,4,north_america,12,Vancouver Titans,1-15,10-45,-35
64,4,apac,1,Shanghai Dragons,12-4,38-19,19
65,4,apac,2,Chengdu Hunters,11-5,38-22,16
66,4,apac,3,Seoul Dynasty,12-4,40-22,18
67,4,apac,4,Philadelphia Fusion,10-6,37-24,13
68,4,apac,5,Hangzhou Spark,7-9,32-31,1
69,4,apac,6,New York Excelsior,7-9,29-32,-3
70,4,apac,7,Guangzhou Charge,5-11,20-38,-18
71,4,apac,8,Los Angeles Valiant,0-16,2-48,-46

In [11]:
winner_standings_df = standings_df.rename(
    columns={
        "team": "match_winner",
        "standing": "winner_standing",
        "region": "winner_region",
    }
)[["season", "match_winner", "winner_region", "winner_standing"]]

loser_standings_df = standings_df.rename(
    columns={
        "team": "match_loser",
        "standing": "loser_standing",
        "region": "loser_region",
    }
)[["season", "match_loser", "loser_region", "loser_standing"]]

# Combine Data

In [12]:
joined_df = match_df.merge(
    winner_standings_df, on=["season", "match_winner"], how="inner"
).merge(loser_standings_df, on=["season", "match_loser"], how="inner")

joined_df = joined_df.sort_values(["match_start_time"]).reset_index(drop=True)

joined_df["winner_standing"] = pd.to_numeric(joined_df["winner_standing"])
joined_df["loser_standing"] = pd.to_numeric(joined_df["loser_standing"])

joined_df["higher_ranked_team_won"] = (
    joined_df["winner_standing"] < joined_df["loser_standing"]
)

joined_df.head()

,year,season,stage,match_id,match_start_time,match_end_time,match_winner,match_loser,match_winner_maps_won,match_loser_maps_won,match_winner_map_differential,match_loser_map_differential,winner_region,winner_standing,loser_region,loser_standing,higher_ranked_team_won
0,2018,1,Overwatch League - Stage 1,10223,2018-01-11 00:12:07,2018-01-11 01:45:17,Los Angeles Valiant,San Francisco Shock,4,0,4,-4,combined,2,combined,9,True
1,2018,1,Overwatch League - Stage 1,10224,2018-01-11 02:08:49,2018-01-11 03:19:57,Los Angeles Gladiators,Shanghai Dragons,4,0,4,-4,combined,4,combined,12,True
2,2018,1,Overwatch League - Stage 1,10225,2018-01-11 03:46:53,2018-01-11 05:35:44,Seoul Dynasty,Dallas Fuel,2,1,1,-1,combined,8,combined,10,True
3,2018,1,Overwatch League - Stage 1,10226,2018-01-11 22:10:19,2018-01-11 23:30:02,London Spitfire,Florida Mayhem,3,1,2,-2,combined,5,combined,11,True
4,2018,1,Overwatch League - Stage 1,10227,2018-01-11 23:52:57,2018-01-12 01:34:19,Philadelphia Fusion,Houston Outlaws,3,2,1,-1,combined,6,combined,7,True

In [13]:
def compute_gatekeeper_score(team, season, df):
    # Get just the rows we care about
    is_right_seaon = df["season"] == season
    is_right_team = (df["match_winner"] == team) | (df["match_loser"] == team)
    is_same_region = df["winner_region"] == df["loser_region"]

    pruned_df = df[is_right_seaon & is_right_team & is_same_region]

    # Compute fractions
    our_team_won = pruned_df["match_winner"] == team
    our_team_lost = pruned_df["match_loser"] == team
    higher_rank_won = pruned_df["higher_ranked_team_won"] == True
    higher_rank_lost = pruned_df["higher_ranked_team_won"] == False

    n_won_against_worse = len(pruned_df[our_team_won & higher_rank_won])
    n_lost_against_worse = len(pruned_df[our_team_lost & higher_rank_lost])

    n_won_against_better = len(pruned_df[our_team_won & higher_rank_lost])
    n_lost_against_better = len(pruned_df[our_team_lost & higher_rank_won])

    # Sometimes we have divide by zero, which should be nan
    try:
        win_rate_against_worse = n_won_against_worse / (
            n_won_against_worse + n_lost_against_worse
        )
    except ZeroDivisionError:
        win_rate_against_worse = float("nan")

    try:
        win_rate_against_better = n_won_against_better / (
            n_won_against_better + n_lost_against_better
        )
    except ZeroDivisionError:
        win_rate_against_better = float("nan")

    # Compute differentials
    map_differential_against_worse = (
        pruned_df[our_team_won & higher_rank_won]["match_winner_map_differential"].sum()
        + pruned_df[our_team_lost & higher_rank_lost][
            "match_loser_map_differential"
        ].sum()
    )
    map_differential_against_better = (
        pruned_df[our_team_won & higher_rank_lost][
            "match_winner_map_differential"
        ].sum()
        + pruned_df[our_team_lost & higher_rank_won][
            "match_loser_map_differential"
        ].sum()
    )

    gatekeeper_score = win_rate_against_worse - win_rate_against_better
    gatekeeper_differential = (
        map_differential_against_worse - map_differential_against_better
    )

    return (
        win_rate_against_worse,
        win_rate_against_better,
        gatekeeper_score,
        map_differential_against_worse,
        map_differential_against_better,
        gatekeeper_differential,
    )

In [14]:
compute_gatekeeper_score("Los Angeles Valiant", 1, joined_df)

(0.675, 0.4, 0.275, 38, -7, 45)

In [15]:
compute_gatekeeper_score("New York Excelsior", 1, joined_df)

(0.7916666666666666, nan, nan, 84, 0, 84)

In [16]:
compute_gatekeeper_score("Atlanta Reign", 3, joined_df)

(0.8461538461538461, 0.17647058823529413, 0.669683257918552, 27, -21, 48)

In [17]:
pruned_df = standings_df[["team", "season", "standing"]]

standings_df["win_rate_against_worse"] = None
standings_df["win_rate_against_better"] = None
standings_df["gatekeeper_score"] = None
standings_df["map_differential_against_worse"] = None
standings_df["map_differential_against_better"] = None
standings_df["gatekeeper_differential"] = None


for season, team in zip(pruned_df["season"], pruned_df["team"]):
    (
        win_rate_against_worse,
        win_rate_against_better,
        gatekeeper_score,
        map_differential_against_worse,
        map_differential_against_better,
        gatekeeper_differential,
    ) = compute_gatekeeper_score(team, season, joined_df)
    right_season_and_team = (standings_df["season"] == season) & (
        standings_df["team"] == team
    )

    try:
        rounded_score = int(round(gatekeeper_score, 2) * 100)
    except ValueError:
        rounded_score = float("nan")

    standings_df.loc[right_season_and_team, "win_rate_against_worse"] = round(
        win_rate_against_worse, 3
    )
    standings_df.loc[right_season_and_team, "win_rate_against_better"] = round(
        win_rate_against_better, 3
    )
    standings_df.loc[right_season_and_team, "gatekeeper_score"] = rounded_score
    standings_df.loc[
        right_season_and_team, "map_differential_against_worse"
    ] = map_differential_against_worse
    standings_df.loc[
        right_season_and_team, "map_differential_against_better"
    ] = map_differential_against_better
    standings_df.loc[
        right_season_and_team, "gatekeeper_differential"
    ] = gatekeeper_differential

In [18]:
standings_df.sort_values(["gatekeeper_score"], ascending=False).reset_index()

,index,season,region,standing,team,match_record,map_record,map_differential,win_rate_against_worse,win_rate_against_better,gatekeeper_score,map_differential_against_worse,map_differential_against_better,gatekeeper_differential
0,62,4,north_america,11,London Spitfire,1-15,12-47,-35,1.0,0.0,100,1,-36,37
1,10,1,combined,11,Florida Mayhem,7-33,42-5-120,-78,1.0,0.108,89,7,-85,92
2,29,2,combined,18,Washington Justice,8-20,39-6-72,-33,1.0,0.167,83,5,-38,43
3,70,4,apac,7,Guangzhou Charge,5-11,20-38,-18,1.0,0.214,79,6,-24,30
4,39,3,north_america,8,Dallas Fuel,9-12,35-44,-9,0.833,0.067,77,15,-31,46
5,15,2,combined,4,Hangzhou Spark,18-10,64-4-52,12,0.75,0.0,75,32,-21,53
6,53,4,north_america,2,Los Angeles Gladiators,11-5,41-21,20,0.7,0.0,70,27,-4,31
7,43,3,north_america,12,Washington Justice,4-17,21-54,-33,1.0,0.31,69,4,-27,31
8,61,4,north_america,10,Florida Mayhem,5-11,26-38,-12,1.0,0.312,69,4,-11,15
9,38,3,north_america,7,Atlanta Reign,10-11,43-35,8,0.846,0.176,67,27,-21,48
10,40,3,north_america,9,Toronto Defiant,8-14,32-48,-16,0.778,0.158,62,11,-31,42
11,66,4,apac,3,Seoul Dynasty,12-4,40-22,18,0.846,0.222,62,21,-12,33
12,58,4,north_america,7,Toronto Defiant,9-7,31-31,0,0.818,0.2,62,11,-15,26
13,7,1,combined,8,Seoul Dynasty,22-18,91-3-78,13,0.933,0.32,61,28,-15,43
14,14,2,combined,3,New York Excelsior,22-6,78-3-38,40,0.774,0.2,56,41,-5,46
15,3,1,combined,4,Los Angeles Gladiators,25-15,96-3-72,24,0.727,0.167,56,33,-16,49
16,26,2,combined,15,Dallas Fuel,10-18,43-3-70,-27,0.8,0.25,55,10,-40,50
17,8,1,combined,9,San Francisco Shock,17-23,77-5-84,-7,0.818,0.276,54,25,-32,57
18,65,4,apac,2,Chengdu Hunters,11-5,38-22,16,0.778,0.25,53,24,-4,28
19,9,1,combined,10,Dallas Fuel,12-28,58-7-100,-42,0.714,0.206,51,8,-51,59
20,48,3,apac,4,Hangzhou Spark,12-11,36-40,-4,0.667,0.167,50,9,-23,32
21,37,3,north_america,6,Los Angeles Gladiators,11-10,43-39,4,0.733,0.231,50,19,-20,39
22,19,2,combined,8,Seoul Dynasty,15-13,64-3-50,14,0.722,0.25,47,26,-18,44
23,56,4,north_america,5,Houston Outlaws,11-5,34-24,10,0.8,0.333,47,16,-13,29
24,20,2,combined,9,Guangzhou Charge,15-13,61-1-57,4,0.75,0.286,46,23,-19,42
25,59,4,north_america,8,Paris Eternal,8-8,32-32,0,0.714,0.25,46,7,-12,19
26,16,2,combined,5,Los Angeles Gladiators,17-11,67-3-48,19,0.714,0.273,44,26,-15,41
27,55,4,north_america,4,San Francisco Shock,12-4,43-24,19,0.833,0.4,43,19,-3,22
28,68,4,apac,5,Hangzhou Spark,7-9,32-31,1,0.625,0.2,42,7,-10,17
29,35,3,north_america,4,Florida Mayhem,17-7,48-30,18,0.739,0.333,41,29,-4,33
30,67,4,apac,4,Philadelphia Fusion,10-6,37-24,13,0.8,0.4,40,15,-1,16
31,46,3,apac,2,Guangzhou Charge,18-7,44-39,5,0.652,0.25,40,9,-7,16
32,42,3,north_america,11,Vancouver Titans,6-15,23-48,-25,0.6,0.211,39,4,-30,34
33,18,2,combined,7,London Spitfire,16-12,58-6-52,6,0.667,0.273,39,14,-16,30
34,57,4,north_america,6,Washington Justice,9-7,29-26,3,0.692,0.3,39,12,-12,24
35,23,2,combined,12,Chengdu Hunters,13-15,55-1-66,-11,0.7,0.316,38,8,-22,30
36,47,3,apac,3,New York Excelsior,16-8,50-30,20,0.714,0.333,38,13,-7,20
37,5,1,combined,6,Philadelphia Fusion,24-16,93-2-80,13,0.773,0.444,33,28,-14,42
38,54,4,north_america,3,Atlanta Reign,11-5,41-21,20,0.824,0.5,32,33,-2,35
39,49,3,apac,5,Seoul Dynasty,12-12,33-40,-7,0.714,0.391,32,8,-11,19
40,34,3,north_america,3,Paris Eternal,19-6,50-31,19,0.739,0.429,31,22,-4,26
41,60,4,north_america,9,Boston Uprising,7-9,27-31,-4,0.6,0.286,31,1,-14,15
42,6,1,combined,7,Houston Outlaws,22-18,94-2-77,17,0.706,0.417,28,21,-6,27
43,21,2,combined,10,Philadelphia Fusion,15-13,57-3-60,-3,0.647,0.357,28,11,-18,29
44,1,1,combined,2,Los Angeles Valiant,27-13,100-7-64,36,0.675,0.4,28,38,-7,45
45,69,4,apac,6,New York Excelsior,7-9,29-32,-3,0.6,0.333,27,6,-15,21
46,24,2,combined,13,Los Angeles Valiant,12-16,56-4-61,-5,0.625,0.364,26,2,-10,12
47,27,2,combined,16,Houston Outlaws,9-19,47-3-69,-22,0.5,0.238,26,6,-31,37
48,25,2,combined,14,Paris Eternal,11-17,46-3-67,-21,0.545,0.294,25,1,-22,23
49,13,2,combined,2,San Francisco Shock,23-5,92-0-26,66,0.842,0.6,24,100,4,96
50,30,2,combined,19,Boston Uprising,8-20,41-2-78,-37,0.5,0.259,24,0,-40,40
51,50,3,apac,6,Chengdu Hunters,8-14,33-47,-14,0.5,0.273,23,-1,-17,16
52,4,1,combined,5,London Spitfire,24-16,102-3-69,33,0.733,0.5,23,45,3,42
53,36,3,north_america,5,Los Angeles Valiant,12-10,41-41,0,0.562,0.417,15,7,-11,18
54,33,3,north_america,2,San Francisco Shock,25-3,56-17,39,0.893,0.75,14,56,4,52
55,22,2,combined,11,Shanghai Dragons,13-15,51-3-61,-10,0.583,0.455,13,7,-12,19
56,17,2,combined,6,Atlanta Reign,16-12,69-1-50,19,0.565,0.444,12,19,-7,26
57,2,1,combined,3,Boston Uprising,26-14,99-3-71,28,0.639,0.556,8,27,-1,28
58,28,2,combined,17,Toronto Defiant,8-20,39-4-72,-33,0.333,0.261,7,-5,-31,26
59,41,3,north_america,10,Houston Outlaws,6-15,32-50,-18,0.333,0.278,6,-3,-19,16
60,0,1,combined,1,New York Excelsior,34-6,126-4-43,83,0.792,NaN,NaN,84,0,84
61,11,1,combined,12,Shanghai Dragons,0-40,21-2-141,-120,NaN,0.0,NaN,0,-120,120
62,12,2,combined,1,Vancouver Titans,25-3,89-0-28,61,0.85,NaN,NaN,74,0,74
63,31,2,combined,20,Florida Mayhem,6-22,36-5-75,-39,NaN,0.214,NaN,0,-39,39
64,32,3,north_america,1,Philadelphia Fusion,24-2,59-19,40,0.812,NaN,NaN,53,0,53
65,44,3,north_america,13,Boston Uprising,2-19,14-61,-47,NaN,0.12,NaN,0,-50,50
66,45,3,apac,1,Shanghai Dragons,27-2,59-15,44,0.871,NaN,NaN,59,0,59
67,51,3,apac,7,London Spitfire,6-15,27-51,-24,NaN,0.143,NaN,0,-32,32
68,52,4,north_america,1,Dallas Fuel,11-5,40-26,14,0.731,NaN,NaN,26,0,26
69,63,4,north_america,12,Vancouver Titans,1-15,10-45,-35,NaN,0.062,NaN,0,-35,35
70,64,4,apac,1,Shanghai Dragons,12-4,38-19,19,0.818,NaN,NaN,33,0,33
71,71,4,apac,8,Los Angeles Valiant,0-16,2-48,-46,NaN,0.0,NaN,0,-46,46

In [19]:
standings_df.to_json("./combined_standings_data.json", orient="table")

# Gatekeeper Scores by Season

In [20]:
WRL = "WR: Worse"
WRH = "WR: Better"

truncated_df = standings_df[
    [
        "team",
        "win_rate_against_worse",
        "win_rate_against_better",
        "gatekeeper_score",
        # "map_differential_against_worse",
        # "map_differential_against_better",
        "gatekeeper_differential",
        "season",
    ]
].rename(
    columns={
        "team": "Team",
        "win_rate_against_worse": WRL,
        "win_rate_against_better": WRH,
        "gatekeeper_score": "Gatekeeper Score",
    }
)

truncated_df[[WRL, WRH]] = truncated_df[[WRL, WRH]].applymap("{:.0%}".format)

## 2018 Season

In [21]:
s1_df = truncated_df[truncated_df["season"] == 1].drop(columns=["season"])

In [22]:
print(tabulate(s1_df, headers="keys", showindex=False, tablefmt="github"))

| Team                   | WR: Worse   | WR: Better   |   Gatekeeper Score |   gatekeeper_differential |
|------------------------|-------------|--------------|--------------------|---------------------------|
| New York Excelsior     | 79%         | nan%         |                nan |                        84 |
| Los Angeles Valiant    | 68%         | 40%          |                 28 |                        45 |
| Boston Uprising        | 64%         | 56%          |                  8 |                        28 |
| Los Angeles Gladiators | 73%         | 17%          |                 56 |                        49 |
| London Spitfire        | 73%         | 50%          |                 23 |                        42 |
| Philadelphia Fusion    | 77%         | 44%          |                 33 |                        42 |
| Houston Outlaws        | 71%         | 42%          |                 28 |                        27 |
| Seoul Dynasty          | 93%         | 32%          |                 61 |                        43 |
| San Francisco Shock    | 82%         | 28%          |                 54 |                        57 |
| Dallas Fuel            | 71%         | 21%          |                 51 |                        59 |
| Florida Mayhem         | 100%        | 11%          |                 89 |                        92 |
| Shanghai Dragons       | nan%        | 0%           |                nan |                       120 |

## 2019 Season

In [23]:
s2_df = truncated_df[truncated_df["season"] == 2].drop(columns=["season"])

In [24]:
print(tabulate(s2_df, headers="keys", showindex=False, tablefmt="github"))

| Team                   | WR: Worse   | WR: Better   |   Gatekeeper Score |   gatekeeper_differential |
|------------------------|-------------|--------------|--------------------|---------------------------|
| Vancouver Titans       | 85%         | nan%         |                nan |                        74 |
| San Francisco Shock    | 84%         | 60%          |                 24 |                        96 |
| New York Excelsior     | 77%         | 20%          |                 56 |                        46 |
| Hangzhou Spark         | 75%         | 0%           |                 75 |                        53 |
| Los Angeles Gladiators | 71%         | 27%          |                 44 |                        41 |
| Atlanta Reign          | 56%         | 44%          |                 12 |                        26 |
| London Spitfire        | 67%         | 27%          |                 39 |                        30 |
| Seoul Dynasty          | 72%         | 25%          |                 47 |                        44 |
| Guangzhou Charge       | 75%         | 29%          |                 46 |                        42 |
| Philadelphia Fusion    | 65%         | 36%          |                 28 |                        29 |
| Shanghai Dragons       | 58%         | 46%          |                 13 |                        19 |
| Chengdu Hunters        | 70%         | 32%          |                 38 |                        30 |
| Los Angeles Valiant    | 62%         | 36%          |                 26 |                        12 |
| Paris Eternal          | 55%         | 29%          |                 25 |                        23 |
| Dallas Fuel            | 80%         | 25%          |                 55 |                        50 |
| Houston Outlaws        | 50%         | 24%          |                 26 |                        37 |
| Toronto Defiant        | 33%         | 26%          |                  7 |                        26 |
| Washington Justice     | 100%        | 17%          |                 83 |                        43 |
| Boston Uprising        | 50%         | 26%          |                 24 |                        40 |
| Florida Mayhem         | nan%        | 21%          |                nan |                        39 |

## 2020 Season

In [25]:
s3_df = truncated_df[truncated_df["season"] == 3].drop(columns=["season"])

In [26]:
print(tabulate(s3_df, headers="keys", showindex=False, tablefmt="github"))

| Team                   | WR: Worse   | WR: Better   |   Gatekeeper Score |   gatekeeper_differential |
|------------------------|-------------|--------------|--------------------|---------------------------|
| Philadelphia Fusion    | 81%         | nan%         |                nan |                        53 |
| San Francisco Shock    | 89%         | 75%          |                 14 |                        52 |
| Paris Eternal          | 74%         | 43%          |                 31 |                        26 |
| Florida Mayhem         | 74%         | 33%          |                 41 |                        33 |
| Los Angeles Valiant    | 56%         | 42%          |                 15 |                        18 |
| Los Angeles Gladiators | 73%         | 23%          |                 50 |                        39 |
| Atlanta Reign          | 85%         | 18%          |                 67 |                        48 |
| Dallas Fuel            | 83%         | 7%           |                 77 |                        46 |
| Toronto Defiant        | 78%         | 16%          |                 62 |                        42 |
| Houston Outlaws        | 33%         | 28%          |                  6 |                        16 |
| Vancouver Titans       | 60%         | 21%          |                 39 |                        34 |
| Washington Justice     | 100%        | 31%          |                 69 |                        31 |
| Boston Uprising        | nan%        | 12%          |                nan |                        50 |
| Shanghai Dragons       | 87%         | nan%         |                nan |                        59 |
| Guangzhou Charge       | 65%         | 25%          |                 40 |                        16 |
| New York Excelsior     | 71%         | 33%          |                 38 |                        20 |
| Hangzhou Spark         | 67%         | 17%          |                 50 |                        32 |
| Seoul Dynasty          | 71%         | 39%          |                 32 |                        19 |
| Chengdu Hunters        | 50%         | 27%          |                 23 |                        16 |
| London Spitfire        | nan%        | 14%          |                nan |                        32 |

## 2021 Season

In [27]:
s4_df = truncated_df[truncated_df["season"] == 4].drop(columns=["season"])

In [28]:
print(tabulate(s4_df, headers="keys", showindex=False, tablefmt="github"))

| Team                   | WR: Worse   | WR: Better   |   Gatekeeper Score |   gatekeeper_differential |
|------------------------|-------------|--------------|--------------------|---------------------------|
| Dallas Fuel            | 73%         | nan%         |                nan |                        26 |
| Los Angeles Gladiators | 70%         | 0%           |                 70 |                        31 |
| Atlanta Reign          | 82%         | 50%          |                 32 |                        35 |
| San Francisco Shock    | 83%         | 40%          |                 43 |                        22 |
| Houston Outlaws        | 80%         | 33%          |                 47 |                        29 |
| Washington Justice     | 69%         | 30%          |                 39 |                        24 |
| Toronto Defiant        | 82%         | 20%          |                 62 |                        26 |
| Paris Eternal          | 71%         | 25%          |                 46 |                        19 |
| Boston Uprising        | 60%         | 29%          |                 31 |                        15 |
| Florida Mayhem         | 100%        | 31%          |                 69 |                        15 |
| London Spitfire        | 100%        | 0%           |                100 |                        37 |
| Vancouver Titans       | nan%        | 6%           |                nan |                        35 |
| Shanghai Dragons       | 82%         | nan%         |                nan |                        33 |
| Chengdu Hunters        | 78%         | 25%          |                 53 |                        28 |
| Seoul Dynasty          | 85%         | 22%          |                 62 |                        33 |
| Philadelphia Fusion    | 80%         | 40%          |                 40 |                        16 |
| Hangzhou Spark         | 62%         | 20%          |                 42 |                        17 |
| New York Excelsior     | 60%         | 33%          |                 27 |                        21 |
| Guangzhou Charge       | 100%        | 21%          |                 79 |                        30 |
| Los Angeles Valiant    | nan%        | 0%           |                nan |                        46 |