In [1]:
!pip install nb-black

Requirement already satisfied: nb-black in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (1.0.7)
Requirement already satisfied: ipython in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from nb-black) (7.30.1)
Requirement already satisfied: black>='19.3' in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from nb-black) (21.12b0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (4.0.1)
Requirement already satisfied: pathspec<1,>=0.9.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (0.9.0)
Requirement already satisfied: tomli<2.0.0,>=0.2.6 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (1.2.3)
Requirement already satisfied: mypy-extensions>=0.4.3 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (0.4.3)
Requirement already satisfied: click>=7.1.2 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (8.0.3)
Requirement already satisfied: platformdirs>=2 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from black>='19.3'->nb-black) (2.4.1)
Requirement already satisfied: pickleshare in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (58.1.0)
Requirement already satisfied: matplotlib-inline in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.1.3)
Requirement already satisfied: traitlets>=4.2 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (5.1.1)
Requirement already satisfied: pygments in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (2.10.0)
Requirement already satisfied: backcall in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (3.0.24)
Requirement already satisfied: decorator in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from ipython->nb-black) (5.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from jedi>=0.16->ipython->nb-black) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from pexpect>4.3->ipython->nb-black) (0.7.0)
Requirement already satisfied: wcwidth in /home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->nb-black) (0.2.5)
WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the '/home/agude/.pyenv/versions/3.9.9/envs/owl_gatekeepers/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
%load_ext lab_black

In [3]:
import pandas as pd

In [4]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

# Reading Tables

The best way to get OWL standings is reading the Wikipedia HTML.

I downloaded each page by hand, did a little editing to pull out just the table, and then fixed a couple values by hand.

In [5]:
COLUMNS_TO_SAVE = [
    "season",
    "region",
    "standing",
    "team",
    "match_record",
    "map_record",
    "map_differential",
]

In [6]:
def keep_digits(s):
    output = ""
    for char in s:
        if char.isdigit():
            output += char

    return output

Have to `%s/colspan//g` on the file first and remove the header row.

In [7]:
COLUMN_NAME_MAPPING = {
    "index": "standing",
    1: "division",
    2: "team",
    3: "match_record",
    4: "map_record",
    5: "map_differential",
}

standings_1_df = pd.read_html("./liquipedia_tables/s1.html")[0]

# The index has the right order, but the standings column has some cruft in it
standings_1_df = standings_1_df.reset_index()
standings_1_df["index"] += 1

standings_1_df = standings_1_df.dropna(how="all").rename(columns=COLUMN_NAME_MAPPING)

standings_1_df["season"] = 1
standings_1_df["region"] = "combined"
standings_1_df["standing"] = standings_1_df["standing"].astype("int32")

standings_1_df = standings_1_df[COLUMNS_TO_SAVE]

standings_1_df

,season,region,standing,team,match_record,map_record,map_differential
0,1,combined,1,New York Excelsior,34-6,126-4-43,83
1,1,combined,2,Los Angeles Valiant,27-13,100-7-64,36
2,1,combined,3,Boston Uprising,26-14,99-3-71,28
3,1,combined,4,Los Angeles Gladiators,25-15,96-3-72,24
4,1,combined,5,London Spitfire,24-16,102-3-69,33
5,1,combined,6,Philadelphia Fusion,24-16,93-2-80,13
6,1,combined,7,Houston Outlaws,22-18,94-2-77,17
7,1,combined,8,Seoul Dynasty,22-18,91-3-78,13
8,1,combined,9,San Francisco Shock,17-23,77-5-84,-7
9,1,combined,10,Dallas Fuel,12-28,58-7-100,-42
10,1,combined,11,Florida Mayhem,7-33,42-5-120,-78
11,1,combined,12,Shanghai Dragons,0-40,21-2-141,-120

In [8]:
COLUMN_NAME_MAPPING = {
    "index": "standing",
    "Unnamed: 1": "division",
    "Unnamed: 2": "team",
    "Unnamed: 3": "match_record",
    "Unnamed: 4": "map_record",
    "Unnamed: 5": "map_differential",
}

standings_2_df = pd.read_html("./liquipedia_tables/s2.html")[0]

# The index has the right order, but the standings column has some cruft in it
standings_2_df = standings_2_df.reset_index()
standings_2_df["index"] += 1

standings_2_df = standings_2_df.dropna(how="all").rename(columns=COLUMN_NAME_MAPPING)

standings_2_df["season"] = 2
standings_2_df["region"] = "combined"

standings_2_df = standings_2_df[COLUMNS_TO_SAVE]

standings_2_df

,season,region,standing,team,match_record,map_record,map_differential
0,2,combined,1,Vancouver Titans,25-3,89-0-28,61
1,2,combined,2,San Francisco Shock,23-5,92-0-26,66
2,2,combined,3,New York Excelsior,22-6,78-3-38,40
3,2,combined,4,Hangzhou Spark,18-10,64-4-52,12
4,2,combined,5,Los Angeles Gladiators,17-11,67-3-48,19
5,2,combined,6,Atlanta Reign,16-12,69-1-50,19
6,2,combined,7,London Spitfire,16-12,58-6-52,6
7,2,combined,8,Seoul Dynasty,15-13,64-3-50,14
8,2,combined,9,Guangzhou Charge,15-13,61-1-57,4
9,2,combined,10,Philadelphia Fusion,15-13,57-3-60,-3
10,2,combined,11,Shanghai Dragons,13-15,51-3-61,-10
11,2,combined,12,Chengdu Hunters,13-15,55-1-66,-11
12,2,combined,13,Los Angeles Valiant,12-16,56-4-61,-5
13,2,combined,14,Paris Eternal,11-17,46-3-67,-21
14,2,combined,15,Dallas Fuel,10-18,43-3-70,-27
15,2,combined,16,Houston Outlaws,9-19,47-3-69,-22
16,2,combined,17,Toronto Defiant,8-20,39-4-72,-33
17,2,combined,18,Washington Justice,8-20,39-6-72,-33
18,2,combined,19,Boston Uprising,8-20,41-2-78,-37
19,2,combined,20,Florida Mayhem,6-22,36-5-75,-39

In [9]:
COLUMN_NAME_MAPPING = {
    "index": "standing",
    1: "team",
    2: "match_record",
    3: "map_record",
    4: "map_differential",
    "Unnamed: 1": "team",
    "Unnamed: 2": "match_record",
    "Unnamed: 3": "map_record",
    "Unnamed: 4": "map_differential",
}

na_standings_df, apac_standings_df = pd.read_html("./liquipedia_tables/s3.html")

na_standings_df["region"] = "north_america"
apac_standings_df["region"] = "apac"

na_standings_df = na_standings_df.dropna(how="all").rename(columns=COLUMN_NAME_MAPPING)
apac_standings_df = apac_standings_df.dropna(how="all").rename(
    columns=COLUMN_NAME_MAPPING
)

standings_3_df = pd.concat([na_standings_df, apac_standings_df])

# The index has the right order, but the standings column has some cruft in it
standings_3_df = standings_3_df.reset_index()
standings_3_df["index"] += 1

standings_3_df = standings_3_df.rename(columns=COLUMN_NAME_MAPPING)

standings_3_df["season"] = 3

standings_3_df = standings_3_df[COLUMNS_TO_SAVE]

standings_3_df

,season,region,standing,team,match_record,map_record,map_differential
0,3,north_america,1,Philadelphia Fusion,24-2,59-19,40
1,3,north_america,2,San Francisco Shock,25-3,56-17,39
2,3,north_america,3,Paris Eternal,19-6,50-31,19
3,3,north_america,4,Florida Mayhem,17-7,48-30,18
4,3,north_america,5,Los Angeles Valiant,12-10,41-41,0
5,3,north_america,6,Los Angeles Gladiators,11-10,43-39,4
6,3,north_america,7,Atlanta Reign,10-11,43-35,8
7,3,north_america,8,Dallas Fuel,9-12,35-44,-9
8,3,north_america,9,Toronto Defiant,8-14,32-48,-16
9,3,north_america,10,Houston Outlaws,6-15,32-50,-18
10,3,north_america,11,Vancouver Titans,6-15,23-48,-25
11,3,north_america,12,Washington Justice,4-17,21-54,-33
12,3,north_america,13,Boston Uprising,2-19,14-61,-47
13,3,apac,1,Shanghai Dragons,27-2,59-15,44
14,3,apac,2,Guangzhou Charge,18-7,44-39,5
15,3,apac,3,New York Excelsior,16-8,50-30,20
16,3,apac,4,Hangzhou Spark,12-11,36-40,-4
17,3,apac,5,Seoul Dynasty,12-12,33-40,-7
18,3,apac,6,Chengdu Hunters,8-14,33-47,-14
19,3,apac,7,London Spitfire,6-15,27-51,-24

In [10]:
COLUMN_NAME_MAPPING = {
    "index": "standing",
    1: "team",
    2: "match_record",
    3: "map_record",
    4: "map_differential",
    "Unnamed: 1": "team",
    "Unnamed: 2": "match_record",
    "Unnamed: 3": "map_record",
    "Unnamed: 4": "map_differential",
}

na_standings_df, apac_standings_df = pd.read_html("./liquipedia_tables/s4.html")

na_standings_df["region"] = "north_america"
apac_standings_df["region"] = "apac"

na_standings_df = na_standings_df.dropna(how="all").rename(columns=COLUMN_NAME_MAPPING)
apac_standings_df = apac_standings_df.dropna(how="all").rename(
    columns=COLUMN_NAME_MAPPING
)

standings_4_df = pd.concat([na_standings_df, apac_standings_df])

# The index has the right order, but the standings column has some cruft in it
standings_4_df = standings_4_df.reset_index()
standings_4_df["index"] += 1

standings_4_df = standings_4_df.rename(columns=COLUMN_NAME_MAPPING)

standings_4_df["season"] = 4

standings_4_df = standings_4_df[COLUMNS_TO_SAVE]

standings_4_df

,season,region,standing,team,match_record,map_record,map_differential
0,4,north_america,1,Dallas Fuel,11-5,40-26,14
1,4,north_america,2,Los Angeles Gladiators,11-5,41-21,20
2,4,north_america,3,Atlanta Reign,11-5,41-21,20
3,4,north_america,4,San Francisco Shock,12-4,43-24,19
4,4,north_america,5,Houston Outlaws,11-5,34-24,10
5,4,north_america,6,Washington Justice,9-7,29-26,3
6,4,north_america,7,Toronto Defiant,9-7,31-31,0
7,4,north_america,8,Paris Eternal,8-8,32-32,0
8,4,north_america,9,Boston Uprising,7-9,27-31,-4
9,4,north_america,10,Florida Mayhem,5-11,26-38,-12
10,4,north_america,11,London Spitfire,1-15,12-47,-35
11,4,north_america,12,Vancouver Titans,1-15,10-45,-35
12,4,apac,1,Shanghai Dragons,12-4,38-19,19
13,4,apac,2,Chengdu Hunters,11-5,38-22,16
14,4,apac,3,Seoul Dynasty,12-4,40-22,18
15,4,apac,4,Philadelphia Fusion,10-6,37-24,13
16,4,apac,5,Hangzhou Spark,7-9,32-31,1
17,4,apac,6,New York Excelsior,7-9,29-32,-3
18,4,apac,7,Guangzhou Charge,5-11,20-38,-18
19,4,apac,8,Los Angeles Valiant,0-16,2-48,-46

In [11]:
standings_df = pd.concat(
    [standings_1_df, standings_2_df, standings_3_df, standings_4_df]
)

standings_df

,season,region,standing,team,match_record,map_record,map_differential
0,1,combined,1,New York Excelsior,34-6,126-4-43,83
1,1,combined,2,Los Angeles Valiant,27-13,100-7-64,36
2,1,combined,3,Boston Uprising,26-14,99-3-71,28
3,1,combined,4,Los Angeles Gladiators,25-15,96-3-72,24
4,1,combined,5,London Spitfire,24-16,102-3-69,33
5,1,combined,6,Philadelphia Fusion,24-16,93-2-80,13
6,1,combined,7,Houston Outlaws,22-18,94-2-77,17
7,1,combined,8,Seoul Dynasty,22-18,91-3-78,13
8,1,combined,9,San Francisco Shock,17-23,77-5-84,-7
9,1,combined,10,Dallas Fuel,12-28,58-7-100,-42
10,1,combined,11,Florida Mayhem,7-33,42-5-120,-78
11,1,combined,12,Shanghai Dragons,0-40,21-2-141,-120
0,2,combined,1,Vancouver Titans,25-3,89-0-28,61
1,2,combined,2,San Francisco Shock,23-5,92-0-26,66
2,2,combined,3,New York Excelsior,22-6,78-3-38,40
3,2,combined,4,Hangzhou Spark,18-10,64-4-52,12
4,2,combined,5,Los Angeles Gladiators,17-11,67-3-48,19
5,2,combined,6,Atlanta Reign,16-12,69-1-50,19
6,2,combined,7,London Spitfire,16-12,58-6-52,6
7,2,combined,8,Seoul Dynasty,15-13,64-3-50,14
8,2,combined,9,Guangzhou Charge,15-13,61-1-57,4
9,2,combined,10,Philadelphia Fusion,15-13,57-3-60,-3
10,2,combined,11,Shanghai Dragons,13-15,51-3-61,-10
11,2,combined,12,Chengdu Hunters,13-15,55-1-66,-11
12,2,combined,13,Los Angeles Valiant,12-16,56-4-61,-5
13,2,combined,14,Paris Eternal,11-17,46-3-67,-21
14,2,combined,15,Dallas Fuel,10-18,43-3-70,-27
15,2,combined,16,Houston Outlaws,9-19,47-3-69,-22
16,2,combined,17,Toronto Defiant,8-20,39-4-72,-33
17,2,combined,18,Washington Justice,8-20,39-6-72,-33
18,2,combined,19,Boston Uprising,8-20,41-2-78,-37
19,2,combined,20,Florida Mayhem,6-22,36-5-75,-39
0,3,north_america,1,Philadelphia Fusion,24-2,59-19,40
1,3,north_america,2,San Francisco Shock,25-3,56-17,39
2,3,north_america,3,Paris Eternal,19-6,50-31,19
3,3,north_america,4,Florida Mayhem,17-7,48-30,18
4,3,north_america,5,Los Angeles Valiant,12-10,41-41,0
5,3,north_america,6,Los Angeles Gladiators,11-10,43-39,4
6,3,north_america,7,Atlanta Reign,10-11,43-35,8
7,3,north_america,8,Dallas Fuel,9-12,35-44,-9
8,3,north_america,9,Toronto Defiant,8-14,32-48,-16
9,3,north_america,10,Houston Outlaws,6-15,32-50,-18
10,3,north_america,11,Vancouver Titans,6-15,23-48,-25
11,3,north_america,12,Washington Justice,4-17,21-54,-33
12,3,north_america,13,Boston Uprising,2-19,14-61,-47
13,3,apac,1,Shanghai Dragons,27-2,59-15,44
14,3,apac,2,Guangzhou Charge,18-7,44-39,5
15,3,apac,3,New York Excelsior,16-8,50-30,20
16,3,apac,4,Hangzhou Spark,12-11,36-40,-4
17,3,apac,5,Seoul Dynasty,12-12,33-40,-7
18,3,apac,6,Chengdu Hunters,8-14,33-47,-14
19,3,apac,7,London Spitfire,6-15,27-51,-24
0,4,north_america,1,Dallas Fuel,11-5,40-26,14
1,4,north_america,2,Los Angeles Gladiators,11-5,41-21,20
2,4,north_america,3,Atlanta Reign,11-5,41-21,20
3,4,north_america,4,San Francisco Shock,12-4,43-24,19
4,4,north_america,5,Houston Outlaws,11-5,34-24,10
5,4,north_america,6,Washington Justice,9-7,29-26,3
6,4,north_america,7,Toronto Defiant,9-7,31-31,0
7,4,north_america,8,Paris Eternal,8-8,32-32,0
8,4,north_america,9,Boston Uprising,7-9,27-31,-4
9,4,north_america,10,Florida Mayhem,5-11,26-38,-12
10,4,north_america,11,London Spitfire,1-15,12-47,-35
11,4,north_america,12,Vancouver Titans,1-15,10-45,-35
12,4,apac,1,Shanghai Dragons,12-4,38-19,19
13,4,apac,2,Chengdu Hunters,11-5,38-22,16
14,4,apac,3,Seoul Dynasty,12-4,40-22,18
15,4,apac,4,Philadelphia Fusion,10-6,37-24,13
16,4,apac,5,Hangzhou Spark,7-9,32-31,1
17,4,apac,6,New York Excelsior,7-9,29-32,-3
18,4,apac,7,Guangzhou Charge,5-11,20-38,-18
19,4,apac,8,Los Angeles Valiant,0-16,2-48,-46

# Save as JSON

In [12]:
standings_df.to_json("./owl_standings.json", orient="table")